@page "/trip/create"
@model CapstoneWeb.Pages.CreateTripModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Create Trip";
}

<div>
    <h1>Create Trip </h1>

    <p>@Model.ErrorMessage</p>

    <form method="post">
        <label for="name">Name* </label>
        <input id="name" asp-for="TripName" required/>

        <label for="startDate">Start Date*</label>
        <input id="startDate" asp-for="StartDate" type="date" required/>

        <label for="endDate">End Date*</label>
        <input id="endDate" asp-for="EndDate" type="date" required/>

        <label for="notes">Notes</label>
        <input id="notes" asp-for="Notes"/>

        <button type="submit">Create Trip</button>

        <div>
            <p>* Indicates a required field</p>
        </div>

    </form>

</div>