@page "/trip/{tripId:int}/transportation/create"
@model CapstoneWeb.Pages.CreateTransportationModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Create Transportation";
    var isErrorVisible = string.IsNullOrEmpty(Model.ErrorMessage) ? "hide" : string.Empty;
}

<div class="container data-entry-window column">
    <h1>Create Transportation</h1>

    <p class="error @isErrorVisible">@Model.ErrorMessage</p>

    <form method="post">
        <label for="method">Method* </label>
        <input id="method" asp-for="Method" required />

        <label for="transportation-notes">Notes</label>
        <textarea id="transportation-notes" asp-for="Notes"></textarea>

        <div class="row input-row">
            <div class="input-group">
                <label for="startDate">Start Date*</label>
                <input id="startDate" asp-for="StartDate" type="datetime-local" required asp-format="{0:yyyy-MM-ddTHH:mm}" />
            </div>

            <div class="input-group">
                <label for="endDate">End Date*</label>
                <input id="endDate" asp-for="EndDate" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            </div>

        </div>

        <div class="button-group">
            <button type="submit">Create Transportation</button>
            <button type="submit" asp-page-handler="cancel" formnovalidate>Cancel</button>
        </div>

        <div class="warning">
            <p>* Indicates a required field</p>
        </div>

    </form>

</div>