@page
@model CapstoneWeb.Pages.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";

    var isErrorVisible = string.IsNullOrEmpty(Model.ErrorMessage) ? "hide" : "";
}

<div class="container data-entry-window">
    <h1>Create Account</h1>

    <p class="error @isErrorVisible">
        @Model.ErrorMessage
    </p>

    <form method="post" class="create-account-form">

        <div>
            <label for="firstname">First Name*</label>
            <input id="firstname" asp-for="FirstName" placeholder="First Name" required />
        </div>

        <div>
            <label for="lastname">Last Name*</label>
            <input id="lastname" asp-for="LastName" placeholder="Last Name" required />
        </div>

        <div>
            <label for="username">Username*</label>
            <input id="username" asp-for="Username" placeholder="Username" required />
        </div>

        <div>
            <label for="password">Password*</label>
            <input id="password" asp-for="Password" type="password" placeholder="Password" required />
        </div>

        <div>
            <label for="password">Confirm Password*</label>
            <input id="password" asp-for="ConfirmedPassword" type="password" placeholder="Confirm Password" required />
        </div>

        <p class="warning">* These fields are required</p>

        <div class="button-group">
            <button type="submit">Create Account</button>
            <button type="submit" asp-page-handler="cancel" formnovalidate>Cancel</button>
        </div>

    </form>

</div>