@page "/trip/{tripId:int}/waypoint/edit/{id:int}"
@model CapstoneWeb.Pages.EditWaypointModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Edit Waypoint";
    var isErrorVisible = string.IsNullOrEmpty(Model.ErrorMessage) ? "hide" : string.Empty;
}

<div class="container data-entry-window column">
    <h1>Edit Waypoint </h1>

    <p class="error @isErrorVisible">@Model.ErrorMessage</p>

    <form method="post">
        <label for="location">Location* </label>
        <input id="location" placeholder="Enter a place:" type="text" asp-for="Location" required/>

        <div class="mapnotes">
            <div id="notes-for-map">
                <label for="notes">Notes</label>
                <textarea id="notes" asp-for="Notes"></textarea>
            </div>

            <div id="map" class="create-map"></div>
        </div>

        <div class="row input-row">
            <div class="input-group">
                <label for="startDate">Start Date*</label>
                <input id="startDate" asp-for="StartDate" type="datetime-local" required asp-format="{0:yyyy-MM-ddTHH:mm}"/>
            </div>

            <div class="input-group">
                <label for="endDate">End Date*</label>
                <input id="endDate" asp-for="EndDate" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
            </div>
        </div>

        <div class="button-group">
            <button type="submit">Update Waypoint</button>
            <button type="submit" asp-page-handler="cancel" formnovalidate>Cancel</button>
        </div>

        <div class="warning">
            <p>* Indicates a required field</p>
        </div>

    </form>

</div>

@section Scripts {
    <script src="~/js/googleMaps.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@AppConfig.GooglePlacesAPIKey&libraries=places&callback=initAutocomplete">
    </script>
}