@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Homepage</h1>
    <p>Your Id is @Model.UserId</p>

    <form method="post">
        <button type="submit" asp-page-handler="logout">Logout</button>
    </form>


</div>