@page "/login"
@model CapstoneWeb.Pages.LoginModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Login";
    var isErrorVisible = string.IsNullOrEmpty(Model.ErrorMessage) ? "hide" : "";
}

<div class="container data-entry-window">

    <canvas class="logo">INSERT LOGO HERE</canvas>

    <h1>Login</h1>

    <p class="error @isErrorVisible">
        @Model.ErrorMessage
    </p>

    <form method="post" class="login-form">
        <div>
            <label for="username">Username*</label>
            <input id="username" asp-for="Username" required placeholder="USERNAME" />
        </div>

        <div>
            <label for="password">Password*</label>
            <input id="password" asp-for="Password" required type="password" placeholder="PASSWORD" />
        </div>

        <p class="warning">* These fields are required</p>

        <div class="button-group">
            <button type="submit" asp-page-handler="login">Login</button>
            <button type="submit" asp-page-handler="createAccount" formnovalidate>Create Account</button>
        </div>
    </form>
</div>
