@page "/login"
@model CapstoneWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>

    <h1>Login</h1>

    <p>
        @Model.ErrorMessage
    </p>

    <form method="post">
        <label for="username">Username*</label>
        <input id="username" asp-for="Username" required placeholder="USERNAME"/> <br />

        <label for="password">Password*</label>
        <input id="password" asp-for="Password" required type="password" placeholder="PASSWORD"/> <br />

        <button type="submit">Login</button>

        <div>
            <p>* These fields are required</p>
        </div>
    </form>

    <form method="post">
        <button type="submit" asp-page-handler="createAccount">Create Account</button>
    </form>
</div>