@page
@model CapstoneWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>

    <h1>Login</h1>

    <p>
        @Model.ErrorMessage
    </p>

    <form method="post">
        <label for="username">Username*</label>
        <input id="username" asp-for="Username" required />

        <label for="password">Password*</label>
        <input id="password" asp-for="Password" required type="password" />

        <input id="button" type="submit" value="Login" />

        <div>
            <p>* These fields are required</p>
        </div>
    </form>

    <a asp-page="CreateAccount">Create Account</a>
</div>