@page
@model CapstoneWeb.Pages.TripModel
@{
    ViewData["Title"] = "Trip Overview";
}

<head>
    <link rel="stylesheet" href="~/css/vanilla-calendar.css">
</head>

@Html.Hidden("startDate", Model.CurrentTrip.StartDate.ToShortDateString());
@Html.Hidden("endDate", Model.CurrentTrip.EndDate.ToShortDateString());


<div class="container">

    <h1>@Model.CurrentTrip.Name</h1>

    <div>
        <button>Profile</button>
        <button>Back To Trips</button>
        <button>Logout</button>
    </div>

    <div>
        <h2>Events</h2>

        <ol>
            <li>
                <div class="event">

                </div>
            </li>
        </ol>

        <button>Add Event</button>
    </div>

    <div id="myCalendar" class="vanilla-calendar"></div>


</div>

<script src="~/js/vanilla-calendar.js"></script>
<script src="~/js/calendarGenerator.js"></script>

