user.sql
trip.sql
waypoint.sql
transportation.sql
uspCreateUser.sql
uspGetUserByUsername.sql
uspCreateTrip.sql
uspGetWaypointsOnDate.sql
uspCreateWaypoint.sql
uspGetTripsByTripId.sql
uspGetTripsByUserId.sql
uspGetWaypointsByTripId.sql
uspRemoveWaypoint.sql
uspCreateTransportation.sql
demoUsers.sql
demoTrips.sql
